* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%
}

.main-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.screan-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 56px;
}

.search-view {
    padding: 10px;
    height: 100%;
    position: relative;
}

.search-bar {
    padding: 10px;
    position: relative;
    z-index: 2;
}

.search-results {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 65px;
    z-index: 1;
    padding: 10px;
}

.loading-center {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.poster {
    width: 100%;
    height: auto;
}

.torrents-list {
    overflow-y: auto;
    max-height: 100%;
    padding: 10px;
}

.expand-header {
    flex-wrap: wrap
}

.expand-header__row {
    flex-basis: 100%
}

.expand {
    transform: rotate(0deg);
    transition: transform 300ms !important;
} 

.expandOpen {
    transform: rotate(180deg);
}

.files-list {
    width: 100%;
    overflow-y: auto;
    max-height: 600px;
}

.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.video-player__screen {
    height: 100%;
}

.video-player__video-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 68px;
    background: black;

    video {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%    !important;
        height: auto   !important;
    }
}

.fullscreen-enabled {
    .video-player__video-screen {
        bottom: 0;
    }
}

.video-controls__panel {
    display: flex;
    justify-content: space-between;
}

.video-player__file-list {
    overflow-y: auto;
    width: 320px;
    position: absolute;
    right: 0;
    bottom: 68px;
    top: 0;
}