* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%
}

.main-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.screan-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 56px;
}

.screan-content_full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.screan-view,
.search-view {
    padding: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    background: white
}

.search-bar {
    padding: 10px;
    position: relative;
    z-index: 2;
}

.search-results {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 65px;
    z-index: 1;
    padding: 10px;
}

.loading-center {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.poster {
    width: 100%;
    height: auto;
}

.library {
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    padding: 10px;
    position: relative;
}

.library__title {
    padding: 5px 10px;
}

.library__filter {
    width: 100%;
    padding: 5px 10px;

    @media (min-width: 576px) {
        width: 350px;
        position: absolute;
        right: 0;
        top: 12px;
    }
}

.library__tabs {
    padding: 0 10px;
}

.expand-header {
    flex-wrap: wrap
}

.expand-header__row {
    flex-basis: 100%
}

.expand {
    transform: rotate(0deg);
    transition: transform 300ms !important;
} 

.expandOpen {
    transform: rotate(180deg);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.inset {
    padding-left: 32px
}

.files-list {
    width: 100%;
    overflow-y: auto;
    max-height: 600px;
}

.player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 3px;
    opacity: 0.8;
    z-index: 3;
}

.player__screen {
    height: 100%;
    background: black;
}

.player__player-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;

    video.scale_hor {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%    !important;
        height: auto   !important;
    }

    video.scale_vert {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto    !important;
        height: 100%   !important;
    }
}

.player-controls__panel {
    display: flex;
    justify-content: space-between;
}

.player__file-list {
    overflow-y: auto;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 71px;
    top: 0;
    opacity: 0.8;
    z-index: 2;

    @media (min-width: 768px) {
        width: 576px;
    }
}

.shadow-border {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
}

.player__title {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 5px;

    h6 {
        @extend .shadow-border 
    }
}

.hide-on-mobile {
    display: none;
}

.hide-on-desktop {
    display: none;
}

.playback-skip {
    position: absolute;
    top: 25%;
    bottom: 15%;
    height: 50%;
    width: 30%;
    z-index: 1;
    color: white;

    &.forward {
        right: 0
    }
    
    &.backward {
        left: 0
    }
}

.player__pause-zone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sound-conrol__slider {
    height: 60px;
    width: 160px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idle {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;
	user-select: none;
}

.player__background-cover{
    background: no-repeat center center fixed; 
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 576px) {
    .hide-on-mobile {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .hide-on-desktop {
        display: inline-block;
    }
}

.button-icon__left {
    margin-right: 15px;
}

.react-autosuggest__suggestions-list {
    list-style: none
}

.screan-view_qr-code {
    margin-top: 5%;
    max-height: 70%;
}

.torrent-lits-item_actions {
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
}
